* {
    padding: 0px;
    margin: 0px;
}

.nav-bar {
    height: auto;
}

#section-1 {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('images/1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
}

.h3-second {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}

#cards-section {
    background-color: #F4C7AB;
}

.ul-1 {
    text-align: center;
}

.navbar-items {
    display: inline-block;
    margin: 15px;
}

.navbar-link {
    text-decoration: none;
    padding: 3px;
    font-size: 3vh;
    color: white;
}

.navbar-link:hover {
    color: #F4C7AB;
}

.updates-container span {
    color: red;
}

.updates-container {
    background-color: #F4C7AB;
    border: 4px solid black;
    height: 15rem;
    width: 90%;
    display: flex;
    margin: auto;
}

.name {
    margin: 100px 0px 70px 0px;
    text-align: center;
}

.h1-1 {
    font-size: 11vh;
    color: #F4C7AB;
    font-family: 'Righteous', cursive;
}

.buttons {
    text-align: center;
}

.update {
    margin-top: 30px;
}

#title {
    background-color: white;
}

.dp {
    height: 15rem;
    width: 15rem;
    background-image: url('images/2.jpg');
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    margin-top: -120px;
    position: relative;
    border: 4px solid black;
}

.card {
    margin: auto;
}

.carousel-one {
    width: 700px;
}

.footer-container {
    text-align: center;
    text-decoration: none;
    padding: 4%;
}

.footer-icon {
    text-decoration: none;
    color: white;
    margin: 20px;
    padding: 10px;
    font-size: 2rem;
}

.footer-icon:hover {
    color: #ffacb7;
}

@media (max-width:500px) and (min-width:0px) {
    iframe,
    .carousel-one {
        width: 300px;
        height: 200px;
    }
    .navbar-items {
        margin: 8px;
    }
    .navbar-link {
        font-size: 2vh;
    }
    .h1-1 {
        font-size: 7.5vh;
    }
    #section-1 {
        height: 80vh;
    }
    .name {
        margin: 50px 0px 40px 0px;
    }
}
